Source: syncany-plugin-gui
Section: utils
Priority: extra
Maintainer: Philipp Heckel <philipp.heckel@gmail.com>
Build-Depends: bash-completion, debhelper (>= 8.0.0) | debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://www.syncany.org

Package: syncany-plugin-gui
Architecture: ${pluginDebianArchitecture}
Depends: ${pluginMiscDepends}, syncany (>= ${pluginAppMinVersion})
Homepage: https://www.syncany.org/
Description: Graphical User Interface for Syncany
