Source: syncany-plugin-gui
Section: utils
Priority: extra
Maintainer: Philipp Heckel <philipp.heckel@gmail.com>
Build-Depends: bash-completion, debhelper (>= 8.0.0) | debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://www.syncany.org

Package: syncany-plugin-gui
Architecture: ${pluginDebianArchitecture}
Depends: ${pluginMiscDepends}, syncany (>= ${pluginAppMinVersion}), python-gtk2, 
         python-notify, python-appindicator, python-websocket-client | python-websocket
Homepage: https://www.syncany.org/
Description: Graphical User Interface for Syncany
 This plugin provides a graphical user interface for Syncany -- mainly in the
 form of a tray or app indicator icon and notifications when changes occur.
 .
 The package relies on the original Syncany package.
